*
*/**

!*/go.mod
!*/go.sum
!*/*.go
!*/Makefile
!*/README.md

!/.gitignore
!/*.go

!/AUTHORS
!/LICENSE
!/README.md
!/Makefile


!/bash-helper
!/tmux-pane-border
!/tmux-statusbar-right

!/video-syncer
!/video-syncer/README.md

!/sync-video-syncer-mpv-watch-later-files
!/sync-video-syncer-mpv-watch-later-files/README.md

!/execute-in-repos

!/execute-on-files
